<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ElasticSearch reindexer</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body class="container" data-ng-app="indexer" data-ng-controller="indexer as indexer">

<div class="col-md-6 col-md-offset-3">

    <form data-ng-submit="indexer.start()" data-ng-if="indexer.isReady()">
        <h1>ElasticSearch indexer</h1>

        <div class="form-group">
            <input type="url" data-ng-model="indexer.data.elasticsearchUrl" required placeholder="ElasticSearch URL"/>
        </div>
        <div class="form-group">
            <input type="text" data-ng-model="indexer.data.type" required placeholder="Type to reindex"/>
        </div>
        <div class="form-group">
            <input type="text" data-ng-model="indexer.data.oldIndex" required placeholder="Old index name"/>
        </div>
        <div class="form-group">
            <input type="text" data-ng-model="indexer.data.newIndex" required placeholder="New index name"/>
        </div>
        <div class="form-group">
            <input type="text" data-ng-model="indexer.data.alias" required placeholder="Alias name"/>
        </div>
        <div class="form-group">
            <textarea data-ng-model="indexer.data.mapping" required placeholder="ElasticSearch mapping"></textarea>
        </div>
        <div class="form-group">
            <label>
                <input type="radio" data-ng-model="indexer.data.mode" name="mode" required value="simple"/> Reindex from ES
            </label>
            <br/>
            <label>
                <input type="radio" data-ng-model="indexer.data.mode" name="mode" value="full"/> Reindex from Mongo
            </label>
        </div>
        <div class="form-group" data-ng-show="indexer.data.mode==='full'">
            <input type="url" data-ng-model="indexer.data.mongodbUrl" required placeholder="MongoDB URL"/>
        </div>
        <div class="form-group">
            <button>Submit</button>
        </div>
    </form>

    <div data-ng-if="indexer.isInProgress()">
        <h1>Indexing in progress</h1>
    </div>

    <div class="alert alert-info" role="alert" data-ng-if="indexer.isCheckingStatus()">Checking status</div>
    <div class="alert alert-danger" role="alert" data-ng-if="indexer.error">{{indexer.error}}</div>
    <div class="text-center" data-ng-if="indexer.isErrorStatus()">
        <button type="button" data-ng-click="indexer.reset()">Reset process</button>
    </div>

</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script>
    angular.module('indexer', []).controller('indexer', function ($http, $window) {
        var ctrl = this;
        var STATUS_CHECKING_STATUS = 'checking-status';
        var STATUS_ERROR = 'error';
        var STATUS_READY = 'ready';
        var STATUS_IN_PROGRESS = 'in-progress';

        var status = STATUS_CHECKING_STATUS;
        this.data = {
            elasticsearchUrl: 'http://localhost:9200',
            type: 'trackingData',
            oldIndex: 'fuse-tracking-data',
            newIndex: 'fuse-tracking-data-new',
            alias: 'fuse',
            mode: 'full',
            mongodbUrl: 'mongodb://localhost:27017/fuse-telemetry',
            mapping: '{}'
        };

        this.isReady = function () {
            return STATUS_READY === status;
        };

        this.isInProgress = function () {
            return STATUS_IN_PROGRESS === status;
        };

        this.isCheckingStatus = function () {
            return STATUS_CHECKING_STATUS === status;
        };

        this.isErrorStatus = function () {
            return STATUS_ERROR === status;
        };

        this.reset = function () {
            return $http.delete('/api/reindex/error').then(function () {
                status = STATUS_READY;
                ctrl.error = null;
            });
        };

        this.start = function () {
            $http.post('/api/reindex/start', this.data).then(function () {
                status = STATUS_IN_PROGRESS;
                watchStatus();
            }).catch(function (response) {
                ctrl.error = response.data;
            });
        };

        function checkStatus() {
            return $http.get('/api/reindex/status').then(function (response) {
                return response.data;
            });
        }

        function watchStatus() {
            checkStatus().then(function (result) {
                status = result.status;
                ctrl.error = result.error;
                if (ctrl.isInProgress()) {
                    $window.setTimeout(function () {
                        watchStatus();
                    }, 1000);
                }
            });
        }

        watchStatus();

    });
</script>
</body>
</html>
